.container {
    margin: 0 auto;
    max-width: 940px;
    text-align: center;
}

.count-box{
    display:inline-block;
    padding-top: 50px;
    font-size: 24px;
}

.result { background-color: green; }

.result1 { background-color: red; }

.result2 { background-color: initial;}

